@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");

body {
  background-image: url("kyrkogård.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.head1 {
  font: 700 10em "fruktur", cursive;
  font-size: 2cm;
  text-align: center;
  text-shadow: 0 0 25px orange;
  animation: shadow 3s infinite;
}

@keyframes shadow {
  50% {
    text-shadow: 0 0 15px orange;
  }
}
.bokstav {
  margin: -15px;
}
.Container {
  display: flex;
  height: 500px;
}
.spökligt {
  width: 50%;
  text-align: center;
}

.fortnite {
  height: 300px;
}
